* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* .container {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.container form {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px;
  margin: 0 auto 30px auto;
}

.container form > * {
  margin: 10px 0;
}

.container form input {
  padding: 10px 15px;
  border: none;
  outline: none;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 20px;
}

.container form button {
  padding: 10px 20px;
  background-color: #333;
  color: #eee;
  outline: none;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  cursor: pointer;
}

.todosContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 10px 10px 0 10px;
  max-width: 80vw;
  margin: auto;
  width: 500px;
}

.todosContainer > * {
  margin: 10px 0;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  /* padding: 20px; */
  width: 500px;
  border-bottom: 3px solid red;
}
