* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.nav {
  background-color: rgb(119, 15, 15);
  color: white;
  padding: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  display: flex;
  align-items: center;
}

.navLinks > * {
  margin: 0 10px;
  font-size: 20px;
}

.navLinks a {
  color: #eee;
}

.navLinks input {
  padding: 5px 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 2px solid #eee;
  margin-right: 5px;
  font-size: 15px;
}

.profile {
  background-color: white;
  color: #333;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.logout {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #eee;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease;
  background-color: rebeccapurple;
}

.logout:hover {
  transform: scale(1.1);
}

/* .title {
  padding-left: 20px;
}

.ul {
  display: flex;
  justify-content: space-between;
}

.navLinks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
}

.ul li {
  list-style: none;
  margin: 0 20px;
}

.ul li a {
  color: #fff;
  font-size: 18px;
}

.profile {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}

i {
  cursor: pointer;
  padding-left: 5px;
}

.hamburger {
  display: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: #eee;
  padding: 10px;
}

.hamburger.show {
  display: flex;
} */

@media (max-width: 768px) {
  .ul {
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  .navLinks {
    display: none;
  }

  .navLinks.show {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    width: 100%;
  }

  .navLinks li {
    margin: 10px 0;
  }

  .hamburger {
    display: flex;
  }

  .hamburger.show {
    display: flex;
  }
}
